body {
    background-color: burlywood;
    color:brown;
    text-align: center;
    background-position: aleign;
    background-repeat: no-repeat;
    font-family: Cormorant Garamond, sans-serif;
}
.titulo{ 
    font-size:35pt;
}
.subtitulo{
    margin: 10px auto 10px;
  padding-left: 10px;
  width: 80%;
  font-size: 20pt;
}

.home{
    font-size: 35pt;color: blue;
}
.banner{
    width:100%;height:500px;object-position: 0 0;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    }
.menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    }
.menu ul li {
    font-size: 20px;
    background-color:rgb(197, 141, 67);
    border: none;
    color: black;
    text-transform: uppercase;
    padding: 25px;
    cursor: pointer;
}

    /* Página de contato */
.container {
    display: flex;
    justify-content: space-between;
  }
  
.container img {
    width: 200px;
  }
  
.container h3 {
    font-size: 14pt;
    font-weight: 600;
  }
